git+https://github.com/opendatahub-io/oauthenticator@42c4790a2db77ff4259a74e15ed94bea72144932#egg=oauthenticator

# It is critical that if this dependency is changed, the following files need to be copied from the designated version of jupyterhub-singleuser-profiles
# to the jsp-npm-deps subdirectory AND VICE VERSA! This is to support Cachito builds where the final dep list at build time must be known pre-build
#
# jupyterhub-singleuser-profiles/jupyterhub_singleuser_profiles/ui/package.json
# jupyterhub-singleuser-profiles/jupyterhub_singleuser_profiles/ui/package-lock.json
#
git+https://github.com/red-hat-data-services/jupyterhub-singleuser-profiles@88f421755f616bdde11893f2209514016c4794e2#egg=jupyterhub-singleuser-profiles
git+https://github.com/opendatahub-io/traefik-proxy@b468da04bf0057e9baeb458de6c3f9f677cfb79e#egg=jupyterhub-traefik-proxy
